[Unit]
Description=Doctor Payout Parameter Service
After=network.target

[Service]
WorkingDirectory=/opt/local/share/DoctorPayout-ParameterService
ExecStart=/usr/bin/dotnet /opt/local/share/DoctorPayout-ParameterService/publish/ParameterService.API.dll
Restart=always
RestartSec=5
User=www-data
Environment=DOTNET_ENVIRONMENT=uat
Environment=ASPNETCORE_URLS=http://127.0.0.1:7266

[Install]
WantedBy=multi-user.target
