[Unit]
Description=Doctor Payout Audit Log Service
After=network.target

[Service]
WorkingDirectory=/opt/local/share/DoctorPayout-AuditLogService/publish
ExecStart=/usr/bin/dotnet /opt/local/share/DoctorPayout-AuditLogService/publish/AuditLogService.API.dll
Restart=always
RestartSec=5
User=www-data
Environment=DOTNET_ENVIRONMENT=uat
Environment=ASPNETCORE_URLS=http://127.0.0.1:7268

[Install]
WantedBy=multi-user.target
