[Unit]
Description=Doctor Payout Rule Engine Service
After=network.target

[Service]
WorkingDirectory=/opt/local/share/DoctorPayout-RuleEngineService
ExecStart=/usr/bin/dotnet /opt/local/share/DoctorPayout-RuleEngineService/publish/RuleEngineService.API.dll
Restart=always
RestartSec=5
User=www-data
Environment=DOTNET_ENVIRONMENT=uat
Environment=ASPNETCORE_URLS=http://127.0.0.1:7275

[Install]
WantedBy=multi-user.target
