[Unit]
Description=Doctor Payout Workflow Service
After=network.target

[Service]
WorkingDirectory=/opt/local/share/DoctorPayout-WorkflowService
ExecStart=/usr/bin/dotnet /opt/local/share/DoctorPayout-WorkflowService/publish/WorkflowService.API.dll
Restart=always
RestartSec=5
User=www-data
Environment=DOTNET_ENVIRONMENT=uat
Environment=ASPNETCORE_URLS=http://127.0.0.1:7274

[Install]
WantedBy=multi-user.target
