[Unit]
Description=Doctor Payout Storage Service
After=network.target

[Service]
WorkingDirectory=/opt/local/share/DoctorPayout-StorageService/publish
ExecStart=/usr/bin/dotnet /opt/local/share/DoctorPayout-StorageService/publish/StorageService.API.dll
Restart=always
RestartSec=5
User=www-data
Environment=DOTNET_ENVIRONMENT=PROD
Environment=ASPNETCORE_URLS=http://127.0.0.1:7125
Environment=DoctorPayout_EncryptionKey=h8f9J1kL2mN3pQrS4tUvWxY5zABCD6Ef

[Install]
WantedBy=multi-user.target
