[Unit]
Description=Doctor Payout Variable Service
After=network.target

[Service]
WorkingDirectory=/opt/local/share/DoctorPayout-VariableService/publish
ExecStart=/usr/bin/dotnet /opt/local/share/DoctorPayout-VariableService/publish/VariableService.API.dll
Restart=always
RestartSec=5
User=www-data
Environment=DOTNET_ENVIRONMENT=UAT-Linux
Environment=ASPNETCORE_URLS=http://127.0.0.1:7267
Environment=DoctorPayout_EncryptionKey=h8f9J1kL2mN3pQrS4tUvWxY5zABCD6Ef

[Install]
WantedBy=multi-user.target
