[Unit]
Description=Doctor Payout Doctor Service
After=network.target

[Service]
WorkingDirectory=/opt/local/share/DoctorPayout-DoctorService/publish
ExecStart=/usr/bin/dotnet /opt/local/share/DoctorPayout-DoctorService/publish/DoctorService.API.dll
Restart=always
RestartSec=5
User=www-data
Environment=DOTNET_ENVIRONMENT=PROD
Environment=ASPNETCORE_URLS=http://127.0.0.1:7272
Environment=DoctorPayout_EncryptionKey=h8f9J1kL2mN3pQrS4tUvWxY5zABCD6Ef

[Install]
WantedBy=multi-user.target
